footer {
	background-color:yellow !important;
	max-height: 400px;
	padding: 25px;
}

footer.site-footer .wrap {
	margin-top: 0px;
	margin-bottom:0px;
}

.site-footer {
	background-color:rgb(238, 241, 249);
}
.site-footer .wrap {
	text-align: center;
}

.site-info a {
	font-family: 'Open Sans', sans-serif;
}
