.site-header {
	/* background-image:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) );
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: 0,-292px;
	background-position: top;
	*/
}

.custom-logo-link img {
	height: 33px;
}

.custom-logo {
	padding:5px;
}

.custom-logo-link {
	margin-left: 18%;
}

